@font-face {
    font-family: 'paeteRoundRegular';
    src: url('../font/SF_Arch_Rival-webfont.eot');
    src: url('../font/SF_Arch_Rival-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/SF_Arch_Rival-webfont.woff') format('woff'),
         url('../font/SF_Arch_Rival-webfont.ttf') format('truetype'),
         url('../font/SF_Arch_Rival-webfont.svg#sf_arch_rivalregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'pokefont';
	src: url("../font/Pokemon_Solid.ttf");
	src: url("../font/Pokemon_Solid.ttf") format('truetype');
}

html {
	padding: 0;
	margin: 0;
}

body {
	background: url("../img/bg.jpg");
	font-family: Arial, Verdana, sans-serif;
}

.main {
	max-width: 1024px;
	margin: auto;
}

h1 {
	font-family: "pokefont";
	line-height: 120%;
	text-shadow: 0 0 10px #fff;
	letter-spacing: 8px;
}

h2 {
	font-family: "paeteRoundRegular";
	border-bottom: 1px solid rgba(48,96,161, 0.3);
	margin: 0 auto;
	width: 99%;
}

h1, h1 + p {
	text-align:center;
}

h1, h2 {
	color: #30609e;
}

img {
	position:relative;
	top: -120px;
	right: 20px;
	float: right;
	box-shadow: 0px 0px 10px #000;
	border:3px solid rgba(255, 255, 255, 0.1);
	border-radius: 5px;
}

img:hover {
	border:3px solid rgba(255, 231, 151, 0.5);
}

ul {
	list-style-type: none;
	padding: 0 0 30px 0;
	margin: 20px;
}

li {
	padding: 0 0 0 24px;
	background: url("../img/pokeball.png") no-repeat 0 5px;
	line-height: 24px;
}

section {
	clear: both;
	position:relative;
	top: -100px;
	margin: 0 20px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
}

section p {
	margin: 20px;
	padding: 0 0 20px 0;
}